.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 16vw;
    border-right: .2px solid grey;
    height: 100vh;
}

.menuItem {
  display: flex;
  justify-content: start;
  width: 9vw;
  height: 5vh;
  font-size: large;
}